<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,height=device-height ,initial-scale=1.0">

    <title>팬명록</title>

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- CSS -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    <!-- 만약 static폴더 내부의 js폴더의 script.js 파일이라면? -->
    <script src="{{ url_for('static', filename='js/csscript.js') }}"></script>
</head>
<body>

    <!--응원 남기기-->
    <div id="che1" class="che_box1">
        <form>
            <a>응원하기</a>
            <input type="text" id="cheering">
            <button class="btn1" >닫기</button>
            <button class="btn2" onclick="cheeringlog()">응원남기기</button>
        </form>
    </div>

    <!-- 목록과 게시글 -->
    <div class="mybox">

        <!-- 목록 -->
        <div class="listbox">

            <!-- 회원정보 -->
            <div id="name" class="UserInterface">
            </div>

            <!-- 목록 내용 -->
            <div>
                <ul class="ul_1">
                    <li><button id="title1" onclick="changetitle(this)">전체글</button></li>
                    <li><button id="title2" onclick="changetitle(this)">응원하기</button></li>
                    <li><button id="title3" onclick="changetitle(this)">활동로그</button></li>
                </ul>
            </div>

            <!-- 응원하기 -->
            <button class="che" id="che" onclick="click_event1()">응원하기</button>

            <!-- 로그인, 로그아웃, 회원가입  -->
            <div class="list_button">
                <!-- 로그인이 아닐시 -->
                <button class="" id="button1" onclick="login()">로그인</button>
                <button class="" id="button2" onclick="newuser()">회원가입</button>

                <!-- 로그인시 -->
                <button class="" id="button3" onclick="logout()">로그아웃</button>
            </div>
        </div>

        <!-- 게시글 -->
        <div class="post_box">

                <!-- 상단 이미지 -->
                <div class="myimg">
                    <h1>치즈(CHEEZE)팬명록</h1>
                </div>

                <!-- 본문 제목 -->
                <div  class="post_title">
                    <h1 id="maintitle">전체글</h1>
                </div>

                <!-- 본문 내용 -->
                <div id="post1" class="all_post">
                    <table class="post_table1">
                        <tr>
                            <th></th>
                            <th>글쓴이</th>
                            <th>내용</th>
                            <th>게시일자</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>글쓴이</td>
                            <td>내용</td>
                            <td>게시일자</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>글쓴이</td>
                            <td>내용</td>
                            <td>게시일자</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>글쓴이</td>
                            <td>내용</td>
                            <td>게시일자</td>
                        </tr>
                    </table>
                </div>
                <div id="post2"class="Cheering_post">
                    <table class="post_table1">
                        <tr>
                            <th></th>
                            <th>글쓴이</th>
                            <th>내용</th>
                            <th>게시일자</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>글쓴이</td>
                            <td>내용</td>
                            <td>게시일자</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>글쓴이</td>
                            <td>내용</td>
                            <td>게시일자</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>글쓴이</td>
                            <td>내용</td>
                            <td>게시일자</td>
                        </tr>
                    </table>
                </div>
                <div id="post3"class="activity_post">
                    <table class="post_table1">
                        <tr>
                            <th></th>
                            <th>글쓴이</th>
                            <th>내용</th>
                            <th>게시일자</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>글쓴이</td>
                            <td>내용</td>
                            <td>게시일자</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>글쓴이</td>
                            <td>내용</td>
                            <td>게시일자</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>글쓴이</td>
                            <td>내용</td>
                            <td>게시일자</td>
                        </tr>
                    </table>
                </div>
        </div>

    </div>

</body>
</html>